<% include ../partials/header %>


<div class="container">

	<div class="row">
		<h1 style="text-align: center">Edit <%= book.name %></h1>
		<div style="width: 30%; margin: 30px auto;">
			<form action="/books/<%= book._id %>?_method=PUT" method="post">
				<div class="form-group">
					<input class="form-control" type="text" name="book[name]" value="<%= book.name %>">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="book[image]" value="<%= book.image %>">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="book[author]" value="<%= book.author %>">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="book[genre]" value="<%= book.genre %>">
				</div>
				<div class="form-group">
					<input class="form-control" type="number" placeholder="price" value="<%= book.price %>" name="book[price]" min="1" step="0.01">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="book[review]" value="<%= book.review %>">
				</div>
				<div class="form-group">
					<input class="btn-primary btn-block btn btn-lg btn-default" type="submit" value="Edit Book">
				</div>
			</form>
			<a href="/books">Back to Books</a>
		</div>
		

		

	</div>
</div>

<% include ../partials/footer %>